*{
    box-sizing: border-box;
}

.about-container{
    background-color: #F7FFF7;
    color: #C97C5D;
    width: 70%;
    max-height: fit-content;
    padding: 20px;
    margin: 3rem;
    margin-inline: auto;
    text-align: center;

}
