.filter-panel{
    position: absolute;
    padding: 2rem;
    width: 20%;
    height: 80%;
    color: #232122;
        line-height: 1rem;
}

@media (width <= 750px){
    .shop{
        display: grid;
        grid-template-rows: auto auto;
    }
    .filter-panel{
        position: relative;
    }
}

.filter-panel ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.filter-panel h1{
    font-size: 4rem;
}

.filter-panel h2{
    font-size: 3rem;
}

.filter-panel button{
    font-size: 3rem;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}

#filter-panel-header {
    font-size: 4rem;
}

.filter-panel button:hover{
    color:#C97C5D;
}

.filter-panel ul li:hover{
    color: #C97C5D;
}

.shop-grid {
    min-height: 20em;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    gap: 20px 20px;
    
    justify-content: center;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .shop-grid {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 600px) {
    .shop-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1000px) {
    .shop-grid {
        grid-template-columns: auto auto auto;
    }
}